@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*  Общие стили */
/*  font-size: 16px */

body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: #f6762c;

  width: 165px;
  height: 50px;

  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Шапка */

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
}

.header__nav {
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header__nav a:hover {
  opacity: 0.9;
}

.header__nav a.active {
  font-size: 14px;
  opacity: 1;
}

.header__list {
  display: flex;
  gap: 30px;
}

.btn {
}
